<div class="p-404">
    <h1 class="p-404_title">{{ notFound[locale].notFound }}</h1>

    <div role="main" class="c-content">
        <p>{{ notFound[locale].goto }} <a class="c-underline-link" href="{{ '/' | url }}">{{ notFound[locale].mainPage }}</a></p>
    </div>
</div>