<div class="p-index">
    <section class="p-index_hero">
        <h1>
            {{ main[locale].welcome }}
        </h1>
        <p>
            {{ main[locale].siteDescription | safe }}
        </p>
    </section>
    <section class="p-index_latest">
        {% set feedUrl = '/feed/' + locale + '.feed.xml' %}
        <h2 class="u-mb--16">
            {% set maxPosts = collections.posts.length | min(3) %}
            {% if maxPosts == 1 %}
                {{ main[locale].post }}
            {% else %}
                {{ main[locale].posts }}
            {% endif %}
            <a href="{{ feedUrl | url }}" target="_blank" title="RSS-Feed">{% include "icons/rss.svg" %}</a>
        </h2>
        <ul class="c-posts-list">
            {% set postslist = collections.posts | forLocale(locale) | head(3) %}
            {% include "components/blog-post-items.njk" %}
        </ul>
    </section>
</div>
